{% extends "Main/LayoutMainLogin.html" %}
{% block body %}
<head>
    <title>
        Peliculas - descripcion
    </title>
</head>
<body>
    <!-- NAV -->
    <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a href="indexMain" class="logo">
                    <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
                </a>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="./index.html">Inicio</a></li>
                    <li><a href="./Peliculas.html">Peliculas</a></li>
                    <li><a href="./series.html">Series</a></li>
                    <li><a href="./acercaDe.html">Acerca de</a></li>
                    <li>
                        <a href="./main.html" class="btn btn-hover">
                            <span>Iniciar sesion</span>
                        </a>
                    </li>
                </ul>
                <!-- MOBILE MENU TOGGLE -->
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END NAV-->
    <div id="playercontainer">
        <main id='main'>
        <div class='section' id='Blog'>
            <div class='widget Blog' data-version='2' id='Blog1'>
                <div class='css-1o7d99z'>
                    <div aria-label='Trailer' class='modal-video' id='trailer' style='display: none;'>
                        <div class='modal-video-body'>
                            <div class='modal-video-inner'>
                                <div class='modal-video-movie-wrap'>
                                    <span class='spinner loading'></span>
                                    <button aria-label='Cerrar trailer' class='modal-video-close-btn'></button>
                                    <iframe allowfullscreen='' frameborder='0' height='230' src='about:blank' tabindex='-1'
                                        width='460'></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>var trailerEmbed = "0JbdP4kn-Zc";</script>
                    <div class='movie__overview'>
                        <div class='container movie__overview-wrapper'>
                            <div class='backdrop__container'>
                                <img alt='' class='backdrop__image'
                                    src='https://1.bp.blogspot.com/-9jkN2ES41kQ/YQYn1gKhTQI/AAAAAAAACWY/Q2mPPCz-DTwWL8zWRVEeIQ_hEmbeH4e2wCLcBGAsYHQ/s1155/Kingdom-Ashin-del-Norte-Netflix-2021-4%2B%25281%2529.jpg' />
                            </div>
                            <div class='view'>
                                <div class='view__wrapper'>
                                    <div class='view__poster'>
                                        <img
                                            src='https://1.bp.blogspot.com/-4ZmiVRl8VqA/YQYnrX6UCXI/AAAAAAAACWc/Uk0RSU0FdzcqqI_QMThFMgDxpYw7mfr5QCPcBGAYYCw/s889/AbnPTn7XNRUAD33YPbwAPDTHG3r%2B%25281%2529.jpg' />
                                    </div>
                                    <div class='view__details'>
                                        <h1 class='view__title'>Kingdom: La historia de Ashin
                                            <span>(2021)</span>
                                        </h1>
                                        <p class='view__info mb-0'>
                                            <i class='fa fa-star'></i>&nbsp;7.4 &nbsp;&nbsp;
                                            <i class='fa fa-clock'></i>&nbsp;1h 32m
                                        </p>
                                        <p class='mt-0 text-subtle'>
                                            <span>Pelicula</span> /
                                            <span>Drama</span> /
                                            <span>Fantasía</span> /
                                            <span>Suspenso</span>
                                        </p>
                                        <p class='view__overview'>Un misterioso descubrimiento aviva la sed de venganza de
                                            una mujer que ha perdido a toda su familia. Episodio especial de Kingdom,
                                            centrado en el personaje de Ashin, que apareció brevemente al final de la
                                            segunda temporada.</p>
                                        <div class='view__actions'>
                                            <button class='button--primary'>Ver Trailer &nbsp;&nbsp;<i
                                                    class='fa fa-play'></i></button>&nbsp;
                                            <button class='button--download'>
                                                <a href='https://ouo.io/tkr6t3d' target='_blank'>Descargar&nbsp;&nbsp;<i
                                                        class='fa fa-download'></i></a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='widget HTML' data-version='2' id='HTML1'>
                <div class='widget-content'>
                    <style>
                        .w2b-pagenav {
                            display: none;
                        }
    
                        span.showpageNum a:hover {
                            background-color: rgba(255, 255, 255, 0.05) !important;
                        }
    
                        span.showpageNum a {
                            margin: 6px;
                            border: 1px solid #000000;
                            background: #272727 !important;
                            padding: 6px 13px !important;
                            text-shadow: 0 1px black;
                            background-clip: padding-box !important;
                        }
                    </style>
                    <script style='text-shadow: #ffffff;'>
                        var numshowpage = 7;
                        var postperpage = 15;
                        var upPageWord = "Anterior";
                        var downPageWord = "Siguiente";
                        var home_page = "/";
                        var urlactivepage = location.href;
                    </script>
                    <script style='text-decoration-color: aliceblue;'
                        src='https://sites.google.com/site/archivossouldhacko/Paginacionblogger.js'></script>
                </div>
            </div>
        </div>
    </main>
    </div>
    <!-- FOOTER SECTION -->
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-6 col-sm-12">
                    <div class="content">
                        <a href="#" class="logo">
                            <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id nobis
                            beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto et.
                            Dolores, quibusdam?
                        </p>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Help</b></p>
                                <ul class="footer-menu">
                                    <li><a href="/acercaDe.html">ACERCA DE NOSOTROS</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="social-list">
                            <a href="#" class="social-item">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-twitter"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->
</body>
{% endblock %}